.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #FFF8FF;
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 70vw;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #ce0000;
}
